<div class="card one" style="width: 18rem;">
    <h1 style="color: blue;">K<span style="color:orange;">O</span>RE</h1>
    <img src="../../assets/images/agilenew.jpg" class="img-thumbnail" alt="...">
    <div class="card-body">
        <h2 style="color: blue;">AGILE</h2>
        <p>Agile is an iterative approach to project management and software development that helps teams deliver value
            to their customers faster and with fewer headaches. Instead of betting everything on a "big bang" launch, an
            agile team delivers work in small, but consumable, increments.</p>
            <button (click)="hello()">Click</button>

    </div>
</div>