<div class="card three" style="width: 18rem;">
    <h1 style="color:blue ;">K<span style="color: orange;">O</span>RE</h1>
    <img src="../../assets/images/innov2.jpg" class="img-thumbnail" alt="...">
    <div class="card-body"><br>
        <h2 style="color:blue;">INNOVATION</h2>
        <p>Innovation is the practical implementation of ideas that result in the introduction of new goods or services
            or improvement in offering goods or services. ISO TC 279 in the standard ISO 56000:2020 defines innovation
            as "a new or changed entity realizing or redistributing value".</p>
            <button (click)="hello()">Click</button>


    </div>
</div>